<Context docBase="${catalina.base}/webapps/embassy.war" path="/embassy">
	<!--
	This file ends up in the RPM and will be deployed to:
	
	  /opt/TCT-EMB-LIVE/conf/Catalina/localhost/embassy.xml
	  
	It should contain details needed to run Embassy in a VLAB VM. Ops will
	maintain a separate copy containing live configuration.
	
	Devs might find it useful to copy this file to:
	
	  src/main/webapp/META-INF/context.xml
	  
	and modifying for local use, since Tomcat (and Eclipse-managed Tomcat)
	can pick up context from there.
	-->
	<Parameter name="config.service.url" value="http://10.10.1.61:6116/embassy-config-service" />
	
	<Parameter name="master.address" value="{{ master_address }}" />
	
	<!--
	Keys can be generated using the embassy-tools keygen command.
	-->

	<Parameter name="embassy.key.enc" value="{{ embassy_key_enc }}" />
	<Parameter name="embassy.key.mac" value="{{ embassy_key_mac }}" />
	<Parameter name="mps.key.enc" value="{{ mps_key_enc }}" />
	<Parameter name="mps.key.mac" value="{{ mps_key_enc }}" />
	
	
	<!-- 
        Timeout values for LDAP connectivity.
	 -->
	 <Parameter name="embassy.ldap.search.read.timout.millis" value="25000"/>
     <Parameter name="embassy.ldap.search.connect.timout.millis" value="25000"/>
     <Parameter name="embassy.ldap.authenticate.read.timout.millis" value="5000"/>
     <Parameter name="embassy.ldap.authenticate.connect.timout.millis" value="5000"/>

     <Parameter name="embassy.ldapservice.trustStore.path" value="{{ embassy_trustStore_path }}"/>
     <Parameter name="embassy.ldapservice.trustStore.password" value="{{ embassy_trustStore_password }}"/>
     <Parameter name="embassy.ldapservice.trustStore.privateKey.password" value="{{ embassy_trustStore_private_password }}"/>

     <Parameter name="embassy.one.time.key.email.reply.address" value="noreply@scansafe.net"/>
     <Parameter name="embassy.one.time.key.expiry.time.seconds" value="600"/>

     
	<!-- This should contain a short (<16 chars) DC identifier, e.g. LON3 -->
	<Parameter name="embassy.datacentre" value="{{ embassy_datacentre }}" />
	
	<Parameter name="smtp.hostname" value="{{ smpt_hostname }}" />
	<Parameter name="smtp.port" value="{{ smtp_port }}" />
     
</Context>
